    <nav class="nav-bar">
        <div class="nav-title">viewLeague</div>
        <ul>
            <a href="/"><li class="nav-item" value="home">Home</li></a>
            <a href="/champions"><li class="nav-item" value="champions">Champions</li></a>
        </ul>
    </nav>