<div class="title">Champions</div>
<div class="cover"></div>
<div class="champions-container">
    <div class="container">
        {{#each champions}}
            <div class="champion">
                <img class="champion-image" src="http://ddragon.leagueoflegends.com/cdn/11.8.1/img/champion/{{image.full}}">
                <div class="champion-name" key = {{id}}>{{name}}</div>
            </div>
        {{/each}}      
    </div>
</div>