<div class="title">Welcome to viewLeague</div>

<div class="slogan">
    <div>view:</div>
    <div class="typing"></div>
</div>
<form class="search-field" action='{{region}}' method="POST">
    <input id="text-field" type="text" name="summoner" placeholder="view Summoners" required/>
    <input id="submit-field" type="submit" name="nothing" value="Submit"/>
</form>
<script src="js/sloganEffect.js"></script>