<div class="player-info-container">
    <div class="profile">
        <div class="icon"></div>
        <div class="player-name">Name</div>
    </div>
    <ul>
        <li>
            <div class="champ-img"></div>
            <div class="champ-name">Name</div>
            <div class="champ-wr">Win Rate: 90%</div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div class="champ-name">Name</div>
            <div class="champ-wr">Win Rate: 90%</div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div class="champ-name">Name</div>
            <div class="champ-wr">Win Rate: 90%</div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div class="champ-name">Name</div>
            <div class="champ-wr">Win Rate: 90%</div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div class="champ-name">Name</div>
            <div class="champ-wr">Win Rate: 90%</div>
        </li>
    </ul>
    <div class="profile">
        <div class="icon"></div>
        <div class="rank">Rank</div>
    </div>
</div>
<div class="match-history-container">
    <div class="title">Match History</div>
    <ul>
        <li class="match-history">
            <div class="type-of-game">
                <div><strong>Normal</strong></div>
                <div id="space">2 months ago</div>
                <div><strong>Victory</strong></div>
                <div>33mins 49seconds</div>
            </div>
            <div id="champion-played"></div>
            <div class="KDA">
                <div class="raw-kda">7 /<span class="deaths"> 2 </span> / 9</div>
                <div class="calc-kda">8.00:1 KDA</div>
            </div>
            <div class="player-stats">
                <div>Level 16</div>
                <div>155 CS</div>
                <div>P/Kill 50%</div>
            </div>
            <div id="items">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="players">
                <section>
                    <div>Player 1</div>
                    <div>Player 2</div>
                    <div>Player 3</div>
                    <div>Player 4</div>
                    <div>Player 5</div>
                </section>
                <section>
                    <div>Player 6</div>
                    <div>Player 7</div>
                    <div>Player 8</div>
                    <div>Player 9</div>
                    <div>Player 1</div>
                </section>
            </div>
        </li>
    </ul>
</div>