/*** PLAYER INFO ***/

.player-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: red; */
    height: 250px;
    width: 100%;
    max-height: 40vh;
    border: 1px solid red;
}

.profile {
    border: 1px solid rgb(60, 14, 167);
    width: 270px;
    height: 220px;
    /* max-height: 80vh; */
    margin: auto;
}

.player-name,
.rank {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    padding-top: 8px;
}

.icon {
    width: 100%;
    height: 80%;
    border: 1px solid yellow;
}

.player-info-container ul {
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.player-info-container ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 150px;
    border: 1px solid red;
}

.champ-img {
    width: 90%;
    height: 80%;
    border: 1px solid red;
}

/*** MATCH HISTORY ***/

.match-history-container {
    width: 1400px;
    height: 1520px;
    max-height: 50vh;
    margin: 100px auto;
    border: 1px solid white;
}

.title {
    width: 400px;
    border-bottom: 1px solid #fff;
    margin: 0px auto;
    padding: 15px 0px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.match-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 110px;
    margin: 10px auto;

    border: 1px solid white;
}

.match-history > div {
    border: 1px solid red;
    height: 100%;
}

.type-of-game, .KDA, .player-stats {
    padding: 0px 10px;
    font-size: 0.9rem;
}

.type-of-game > div {
    text-align: center;
}

#space {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    width: 99px;
    margin: 0px auto 10px auto;
}

#champion-played {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}


.KDA div{
    text-align: center;
    margin: 20px auto 5px auto;
}

.deaths {
    color: rgb(187, 88, 88)
}

.player-stats div {
    text-align: center;
    margin: 10px auto 5px auto;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 120px;

}

#items div {
    width: 35px;
    height: 35px;
    border: 1px solid red;
    margin: 0px 2px;
}

.players {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    font-size: 0.7rem;
}

.players > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100px;
    align-items: center;
    color: red;
    border: 1px solid yellow;
}

.players section > div::before {
    content: '';
    width: 5px;
    height: 50px;
    border: 1px solid red;
}
.players div {
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    border: 1px solid red;
}

@media screen and (max-width: 1720px) {
    /* main {
        display: none;
    } */

    .match-history-container {
        width: 1200px;
    }
    
}

@media screen and (max-width: 1580px) {


    .player-info-container ul li {
        width: 100px;
        height: 110px;
        font-size: 0.8rem;
    }


    .profile {
        width: 180px;
        height: 150px;
    }

    
}

@media screen and (max-width: 1500px) {


    .match-history-container {
        width: 1000px;
    }

}

@media  screen and (max-width: 1280px) {
    .player-info-container {
        padding-top: 50px;
    }
}


@media screen and (max-width: 950px) {
    .player-info-container ul {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 0.6rem;
    }

    .player-info-container > div:first-child {
        grid-column-start: 1;
        grid-column-end: 2;

    }

    .player-info-container > div:nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 4;
        /* display: none; */
    }

}