.nav-bar {
    display: flex;
    flex-direction: column;
    width: 272px;
    max-width: 272;
    min-height: 100%;

    background-color: #38374E;

    border: 1px solid red;
}

.nav-title {
    min-height: 125px;
    width: 228px;
    max-width: 228px;
    font-size: 28px;
    text-align: center;
    margin: 10px auto 0 auto;
    padding: 42px;
    background-color: #1B1A36;
    color: #fff;
    font-weight: 500;
    border: 1px solid red;
}

.nav-item {
    width: 200px;
    max-width: 200px;
    font-size: 18px;
    background-color: #132028;
    color: #fff;
}